html {
  padding: 1rem;
  font: 16px/1.5 "DejaVu Sans", Verdana, sans-serif;
}
@media (min-width: 750px) and (min-height: 450px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 1000px) and (min-height: 600px) {
  html {
    font-size: 32px;
  }
}

body {
  max-width: 30rem;
  margin: 0 auto;
}

h1, footer {
  margin: 0;
  font-weight: normal;
  line-height: 1;
  color: #999;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

#main {
  padding: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
}

.state-dialog #input, .state-gameover #input { visibility: hidden }
.state-input #dialog-ok { display: none }

#face {
  float: left;
  width: 12rem;
  height: 12rem;
}
@media (max-width: 500px) {
  #face {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.block {
  float: right;
  width: 12rem;
  padding: 1rem;
}
@media (max-width: 500px) {
  .block {
    float: none;
    width: auto;
    text-align: center;
  }
}

.ok {
  width: 2rem;
  font-size: 2rem;
  line-height: 1rem;
  background: none;
  border: none;
}

#dialog {
  position: relative;
  min-height: 4.5rem;
  border: 3px solid #cef;
  border-radius: 4px;
  background: #eff;
}
@media (max-width: 500px) {
  #dialog {
    min-height: 0;
  }
}

#dialog-ok {
  position: absolute;
  bottom: 0.5rem;
  right: 0.25rem;
}

#input {
  padding: 0 1rem;
}

input, button {
  font-size: 1rem;
  min-height: 2rem;
}

#input-text::-webkit-outer-spin-button,
#input-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#input-text {
  -moz-appearance: textfield;
  width: calc(100% - 4rem);
  float: left;
}

#input-ok {
  float: right;
}

#dialog::after, #input::after, #main::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  font-size: .75rem;
  text-transform: lowercase;
}

footer a {
  text-decoration: none;
  color: #666;
}
